<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
		<h:head>
			<f:facet name="first">
				<meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
				<title>A page</title>
			</f:facet>
		</h:head>

        <h:body>

            <p:layout fullPage="true">

                <p:layoutUnit position="north" size="250" resizable="true" closable="true" collapsible="true">
					<h:form>
						<h:panelGrid columns="2" cellpadding="2">
							<h:outputLabel for="#{messageManagedBean.author}" value="Author"/>
							<h:inputText value="#{messageManagedBean.author}" label="Author" maxlength="64">
							</h:inputText>
							<h:outputLabel for="#{messageManagedBean.text}" value="Text"/>
							<h:inputTextarea value="#{messageManagedBean.text}" rows="6" cols="33" label="Text">
							</h:inputTextarea>
							<h:commandButton type="submit" value="Send" action="#{messageManagedBean.newPost}"></h:commandButton>
						</h:panelGrid>
					</h:form>
                </p:layoutUnit>
                <p:layoutUnit position="center">
					<p:dataList value="#{messageManagedBean.getMessagesList()}" var="msg" type="definition">  
						Author: #{msg.author},
						Date: 
						<h:outputText value="#{msg.datetime}">
                            <f:convertDateTime pattern="MM-dd-yyyy" />
                        </h:outputText>  
						<f:facet name="description">  
							#{msg.body}
						</f:facet>  
					</p:dataList>  
                </p:layoutUnit>

            </p:layout>

        </h:body>

    </f:view>
</html>

